
        <div class="maincon">
            <style>
        .maincon{
            text-align: center;
        }
        .con1{
            background-color: rgb(16,71,153);
            color:rgb(229,234,245);
            padding:25px;
        }
        img{
            color:black;
        }
        .img1{
            margin:20px;
            height: 60px;
            width:200px;
        }
        .con2{
            margin:40px;
            line-height: 25px; 
            font-size: 19px;
        }
        .btn{
            background-color: rgb(250,104,56);
            border: transparent;
            padding: 10px 30px;
            font-weight: bold;
            font-size: 19px;
                color:rgb(229,234,245);
        
        }
        span{
            font-size: 18px;
        }
        .con3{
            background-color: rgb(229,234,245);
        }
        .foot{
            background-color: rgb(16,71,153);
            color:rgb(229,234,245);
            padding: 20px;
        }
        .img2{
            height: 60px;
        }
        
        </style>
        <div><img src="https://i.ibb.co/CWHvXbP/im2.png" alt="IMAGE" class="img1"></div>
            <div class="con1">
                <img src="https://i.ibb.co/Q9LDRH4/im1.png" alt="IMAGE" class="img2">
                <h3>THANKS FOR SIGNING UP!</h3>
                <h1>Varify your E-mail Address</h1>
            </div>
            <br>
            <div class="con2">Hi,<br>Please click on the button below to varify your email address</div>
            <form action="/verify/<%= token %>" method="post"></form>
                <input type="button" class="btn" value="VARIFY YOUR EMAIL">
            </form>
            
            <br><br><br><br>
            <span>Thanks</span><br><br><br><br>
            <div class="con3">
                <br><br>
                <div>support@ubankconnect.com</div>
                <br><br><br>
                <div class="foot">Copyrights © U Bank Connect. All Rights Reserved</div>
            </div>
        </div>
                